# The build directory
build*/

# LLVM IR
*.ll
!external/sift-slash-dataset/*.ll
*.bc
!external/sift-slash-dataset/*.bc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cache
.cache/

.vscode/
.vagrant/

neckid-venv

llvm-project/

__pycache__/

core

debug/

# Vim sessions
vim.session
